h1
  span.peg.r P
  span.peg.g E
  span.peg.y G
  span.peg.g G
  span.peg.r E
  span.peg.y R
p.lead Welcome to the home of Pegger, a simple little peg jumping strategy game for two! If you&apos;re a curious developer there is also source code and a tutorial series that you can peruse.
p
  a.btn.btn-lg.btn-primary(href='#/play', role='button') Play Pegger
